extends ./template.pug
block meta
  title Strona użytkownika
  link(rel='stylesheet' href='/css/main.css')
block account
  a(href='/logout') Wyloguj
block content
  #reservation
    h1 Witaj, użytkowniku #{email}! Oto twoje rezerwacje:
    each zgloszenie in zgloszenia
      p ID: #{zgloszenie.id}
      p Imię: #{zgloszenie.first_name}
      p Nazwisko: #{zgloszenie.last_name}
      p Email: #{zgloszenie.email}
      p Liczba miejsc: #{zgloszenie.n_people}
